<div class = "row">

  <div class= "col-md-6">
    <div class= "portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-dark">
          <span class="caption-subject bold uppercase">Last offers</span>
        </div>
      </div>
      
      <div class="portlet-body">
        <div class="CSSAnimationChart">
          <% if @jobs_home.present? %>
          <ul class="s-job-list">
            <% @jobs_home.each do |job| %>
            <%= render 'shared/job_item', job: job %>
            <% end %>
          </ul>

          <br>
          <%= link_to 'Show All Jobs', jobs_path %>
          <% else %>
          <p>There are no job offers>.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class= "col-md-6">
   <div class= "portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-dark">
        <span class="caption-subject bold uppercase">Last News</span>
      </div>
    </div>

    <div class="portlet-body">
      <div class="CSSAnimationChart">
        <% if @notices_home.present? %>
        <ul class="s-job-list">
          <% @notices_home.each do |notice| %>
          <%= render 'shared/notice_item', notice: notice %>
          <% end %>
        </ul>
        <br>
        <%= link_to 'Show All Notices', notices_path %>
        <% else %>
        <p>There are no news </p>
        <% end %>
      </div>
    </div>
    
  </div>
</div>


<div class = "row">
  <div class= "col-md-6">
    <div class= "portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-dark">
          <span class="caption-subject bold uppercase">Last Companies</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="CSSAnimationChart">
          <% if @companies_home.present? %>
          <ul class="s-job-list">
            <% @companies_home.each do |user| %>
            <%= render 'shared/user_item', user: user %>
            <% end %>
          </ul>
          <br>
          <%= link_to 'Show All Companies', companies_path %>
          <% else %>
          <p>There are no companies</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class= "col-md-6">
    <div class= "portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-dark">
          <span class="caption-subject bold uppercase">Last Canditates</span>
        </div>
      </div>

      <div class="portlet-body">
        <div class="CSSAnimationChart">
          <% if @canditates_home.present? %>
          <ul class="s-job-list">
            <% @canditates_home.each do |user| %>
            <%= render 'shared/user_item', user: user %>
            <% end %>
          </ul>
          <br>
          <%= link_to 'Show All Canditates', canditates_path %>
          <% else %>
          <p>There are no canditates</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

