<%= simple_form_for(@notice, :html => {:novalidate => true ,:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class = "container col-md-12">
      <div class="col-md-7" style="padding-left: 0px;">

       <%= f.input :title , input_html: {class: "margin9px"} %>
      </div> 
      <div class="col-md-3" style="padding-left: 0px;">
        <%= f.input :date, as: :datepicker, required: true,
        :placeholder => 'Select date', input_html: {class: "form-control"},
        label: "Date: " %>
      </div> 
      
      </div> 
    </div>
    
    <div class = "container col-md-12">
      <%= f.label :summary %>
    <%= f.text_area  :summary , :class => "tinymce"  %>
    <br>
    </div>

    <div class = "container col-md-12">
      <%= f.label :text %>
    <%= f.text_area  :text, :class => "tinymce"  %>
    <br>
    </div>
    
    <div class = "container col-md-12">
      <div class="col-md-5" style="padding-left: 0px;">
       <%= f.input :avatar, as: :file %>
      </div> 
      <br>
    </div>
    
    <div class = "col-md-6">
      <%= f.input :active %>
    </div>
    <div class = "col-md-6">
      <%= f.input :prior %>
    </div>
    
    
    
  </div>
  
  <div class="container">
    <div class="form-actions">
      <div class = "col-md-6" style="padding-left: 0px;">
        <div class = "col-md-4">
          <br>
          <%= f.button :submit  ,class: "btn btn-primary" %>
          <br>
          <br>
        </div>
      </div>    
    </div>
  </div>
<% end %>
