<%= simple_form_for(@notice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :summary %>
    <%= f.input :text %>
    <%= f.input :active %>
    <%= f.input :prior %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
