<p id="notice"><%= notice %></p>

<p>
  <h2 class = "text-left"><%= @notice.title %></h2>
</p>
<p>
<%= link_to image_tag(notice.avatar.url(:thumb)), notice  %>
</p>
<p>
  <%= @notice.date.to_date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notice.text.html_safe %>
</p>
<br>
<%= link_to 'Show All News', notices_path %> 

