<p id="notice"><%= notice %></p>

<p>
  <h2 class = "text-left"><%= @notice.title %></h2>
</p>

<p>
  <%= @notice.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notice.text %>
</p>
<br>
<%= link_to 'Show All News', notices_path %> 

