<h1>Listing Canditates</h1>
<br>
<br>
<div class = "col-md-3">
  <%= form_tag(canditates_path, :method => "get", id: "search-form") do %>
    <br>
    <%= text_field_tag :search, params[:search], placeholder: "Search Canditates" , class: "form-control " %> 
  <br>
    <span class="label label-default">Select Profession area</span>
      <%= select_tag "profession", ("<option></option>" + options_from_collection_for_select(professions, "id", "area_name", @prev_profession)).html_safe , class: "form-control " %> 
    <br>
    <span class="label label-default">Select City </span>
      <%= select_tag "city", ("<option></option>" + options_from_collection_for_select(cities, "id", "city_name", @prev_city)).html_safe , class: "form-control" %>
    <br>
    <%= submit_tag "Search", class: "btn btn-primary btn-md" %>
 <% end %>  
</div>
<br>

<div class= "canditatelist col-md-8">
  
  <label style="font-size: 12pt; color: #626262; padding-left: 10px;"><%= @canditates.count%> Canditate found</label>
  
  <div style="float: left; width: 760px; margin: 9px 0 9px 9px">
        <hr class="ustayrac">
  </div>

  <div class ="result_list">
      <%= render 'canditates' %>
  </div>

  <script>
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });
  </script>

</div>

