<%= simple_form_for(@job, :html => {:novalidate => true ,:multipart => true}) do |f| %>
  <%= f.error_notification %>
  
  <%=f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-inputs">
    <div class = "container col-md-12">
      <div class="col-md-7" style="padding-left: 0px;">

       <%= f.input :title , input_html: {class: "margin9px"} %>
      </div> 
      <div class="col-md-2" style="padding-left: 0px;">
        <%= f.input :valid_from, as: :datepicker, required: false, :placeholder => 'Select date', input_html: {class: "form-control"},label: "Valid From: " %>
      </div> 
      <div class="col-md-2" style="padding-left: 0px;">
        <%= f.input :valid_to, as: :datepicker, required: false,
    :placeholder => 'Select date', input_html: {class: "form-control"},
    label: "Valid Untill: " %>
      </div> 
    </div>

    <div class = "container col-md-12">
       <%= f.input :description ,as: :text%>
    </div>
    
    <div class = "container col-md-12">
      <div class="col-md-5" style="padding-left: 0px;">
       <%= f.input :avatar, as: :file %>
      </div> 
    </div>
    
    <div class = "container col-md-12">
      <div class="col-md-5" style="padding-left: 0px;">
       <%= f.input :profession_id, :collection => professions, :label_method => :area_name , :value_method => :id, :label => "Profession", :include_blank => true %>
      </div> 
    </div>
    
    <div class = "col-md-6" style="padding-left: 0px;">
      <div class = "col-md-5">
        <%= f.input :salary, :collection => [['1-1000','1-1000'], ['1000-2000','1000-2000'],['2000-3000','2000-3000'],['3000-4000','3000-4000'],['4000-5000','4000-5000'],['5000-6000','5000-6000'],['+5000','+5000']], :include_blank => false%>
      </div>
    </div>

    <div class = "col-md-6" style="padding-left: 0px;">
      <div class = "col-md-5">
        <%= f.input :type_of_contract, :collection => [['Full-Time','Full-Time' ], ['Part-Time','Part-Time'],['Internship','Internship']], :include_blank => false%>
      </div>
    </div>
    <div class = "col-md-4">
      <%= f.input :active %>  
    </div>
    
  </div>
    

  <div class="form-actions">
    <%= f.button :submit  ,class: "btn btn-primary" %>
  </div>
<% end %>