<%= tinymce %>
<%= simple_form_for(@user, :html => {:novalidate => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :type_of_users, @user.type_of_users  %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :post_code %>
    <%= f.input :contact %>
    <%= f.input :personal_page %>
    <%= f.input :birthday %>
    <%= f.input :id_number %>
    <%= f.label :presentation %>
    <%= f.text_area :presentation ,:class => "tinymce"%>
    <br>
    <%= f.label :habits %>
    <%= f.text_area :habits, :class => "tinymce"  %>
     <br>
    <%= f.label :experience %>
    <%= f.text_area :experience , :class => "tinymce"%>
    <%= f.input :isworking %>
    <%= f.hidden_field :active  %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit  ,class: "btn btn-primary" %>
  </div>
<% end %>
