
<%= simple_form_for(@user, :html => {:novalidate => true ,:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :type_of_users, @user.type_of_users  %>
    
    <%= f.input :email %>
    <% if !isEdit%>
       <%= f.input :password %>
      <%= f.input :password_confirmation %>
    <% end%>
    <%= f.input :name %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :address %>
    <%= f.input :post_code %>
    <%= f.input :contact %>
    <%= f.input :personal_page %>
    <%= f.input :birthday, as: :datepicker, required: true %>
    <%= f.input :id_number %>

    
    <%= f.association :city, label_method: :city_name, value_method: :id , required: true %>
    <%= f.label :presentation %>
    <%= f.text_area :presentation, :class => "tinymce"  %>
    <br>
    <%= f.association :profession, label_method: :area_name, value_method: :id , required: true %>
    <%= f.hidden_field :active  %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit  ,class: "btn btn-primary" %>
  </div>
<% end %>
