
<%= simple_form_for(@user, :html => {:novalidate => false ,:multipart => true}) do |f| %>
  <div class="center" style ="width: 50%;margin: auto;"><%= f.error_notification %></div>
  

  <div class="form-inputs">
    <%= hidden_field_tag :type_of_users, @user.type_of_users  %>

    <br>
    <div class = "container col-md-12">
      <div class="col-md-6" style="padding-left: 0px;">
       <%= f.input :email %>  
      </div> 
    </div>
   
    
    <% if !isEdit%>
      <div class = "col-md-6">
        <%= f.input :password %>  
      </div>
      <div class = "col-md-6">
        <%= f.input :password_confirmation %>
      </div>
      
    <% end%>

    <div class = "col-md-6">
      <%= f.input :name %>
    </div>
    <div class = "col-md-6">
      <%= f.input :avatar, as: :file %>
    </div>
    
    <div class = "col-md-12">
      <%= f.input :address %>
    </div>
    
    <div class = "col-md-6" style="
    padding-left: 0px;">
      <div class = "col-md-3">
        <%= f.input :post_code %>
      </div>
    </div>
    
    
    <div class = "col-md-6" style="
    padding-left: 0px;">
      <div class = "col-md-3">
        <%= f.association :city, label_method: :city_name, value_method: :id , required: true %>
      </div>
      
    </div>
    
    <div class = "col-md-6">
      <%= f.input :contact , :input_html => { class: 'small_text_box' } %>
    </div>
    <div class = "col-md-6">
      <%= f.input :personal_page %>
    </div>

    <div class = "col-md-6" style="
    padding-left: 0px;">
      <div class = "col-md-3">
        <%= f.input :birthday, as: :datepicker, required: true  %>
      </div>
      
    </div>
    
    
      <div class = "col-md-3">
        <%= f.input :id_number %>
      </div>
    <div class = "col-md-12">
    </div>

    
  
      
      <div class = "col-md-6" style="padding-left: 0px;">
        <div class = "col-md-4">
          <%= f.input :cv, as: :file %>
        </div>
      </div>
    
      
      <div class = "col-md-6" style="padding-left: 0px;">
        <div class = "col-md-4">
        <%= f.association :profession, label_method: :area_name, value_method: :id , required: true %>
        </div>
      </div>
      
   

    

    <div class = "col-md-12">
      <%= f.label :presentation %>
      <%= f.text_area :presentation, :class => "tinymce"  %>
    </div>

    <div class = "col-md-12">
      <%= f.label :habits %>
      <%= f.text_area :habits, :class => "tinymce"  %>
    </div>

    <div class = "col-md-12">
      <%= f.label :experience %>
      <%= f.text_area :experience , :class => "tinymce"%>
    </div> 
    
    </div>
    <div class = "col-md-6" style="
    padding-left: 0px;">
      <div class = "col-md-5">
        <%= f.input :isworking, :collection => [['Employed',true ], ['UnEmployed', false]]%>
      </div>
    </div>
    
    <%= f.hidden_field :active  %>
    
  </div>

  <br>
  <div class="container">
    <div class="form-actions">
      <div class = "col-md-6" style="padding-left: 0px;">
        <div class = "col-md-4">
          <br>
          <%= f.button :submit  ,class: "btn btn-primary" %>
          <br>
          <br>
        </div>
      </div>    
    </div>
  </div>
  
<% end %>
