<%= simple_form_for(current_user , url: update_password_user_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :type_of_users, current_user.type_of_users  %>
    <%= hidden_field_tag :email, current_user.email %>
    <%= f.input :old_password,  required: true %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: true %>
    <%= hidden_field_tag :name, current_user.email %>
    <%= hidden_field_tag :address, current_user.address %>
    <%= hidden_field_tag :post_code, current_user.post_code %>
    <%= hidden_field_tag :contact, current_user.contact %>
    <%= hidden_field_tag :personal_page, current_user.personal_page %>
    <%= hidden_field_tag :birthday, current_user.birthday %>
    <%= hidden_field_tag :id_number, current_user.id_number %>
    <%= hidden_field_tag :presentation, current_user.presentation %>
    <%= hidden_field_tag :habits, current_user.habits %>
    <%= hidden_field_tag :experience, current_user.experience %>
    <%= hidden_field_tag :isworking, current_user.isworking %>
    <%= hidden_field_tag :active, current_user.active  %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit  ,class: "btn btn-primary" %>
  </div>
<% end %>