
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <%= render 'shared/user_basic_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <section class="micropost_form">
      <%= render 'shared/user_info' %>
    </section>
  </div>
</div>
<% if @user.type_of_users == 2 %>
  <div class= "container">
    <h2 class= "aside" >Active Offers From This Company</h2>
    <% if @other_jobs_from_same_company.present? %>
      <ul class="s-job-list">
        <% @other_jobs_from_same_company.each do |job| %>
           <div class="users col-md-6">
           <%= render 'shared/job_item', job: job %>
           </div>
        <% end %>
      </ul>
      <br>
    <% else %>
      <p>There are no offers from this company</p>
    <% end %>
    <br>
    
</div>
  <%= link_to 'Show All Companies', companies_path %>
<% else%>

<% end%>




<%if current_user.present?%>
    <% if current_user?(@user) %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    <% end %>
  <%end %>


