
<%if current_user.present? %>
	<!-- We are displaying job item-->
	<%if is_job_element %>
		<%if current_user.type_of_users == 1%>
			<br>
			<% if current_user.following_job?(job,current_user)%>
				<%= render 'shared/unfollow_job', job: job , user: current_user%>
			<%else%>
				<%= render 'shared/follow_job', job: job , user: current_user%>
			<%end%>
			<br>
		<%elsif job.user == current_user  || isAdmin?(current_user) %>
			<br>
			<%= link_to "Delete job", job, method: :delete,
				data: { confirm: "You sure?" } , class: "btn btn-primary btn-sm"%>
			<t>
			<%= link_to 'Edit', edit_job_path(job) , class: "btn btn-primary btn-sm" %>
			<br>
		<% end %>

	<!-- We are displaying canditate/company(user) item-->
	<%else%>

		<!-- We are displaying canditate item-->
		<%if user.type_of_users == 1 %>
			<!-- if current user or admin is viewing current user's profile. 
			they can edit, admin can destroy-->
			<%if current_user?(user)  || isAdmin?(current_user) %>
				<!-- if current user is admin and not current user -->
				<%if isAdmin?(current_user) && !current_user?(user) %>
					<br><%= link_to "Delete Canditate", user, method: :delete,
							data: { confirm: "You sure?" } ,class: "btn btn-primary btn-sm" %>
				<%end%>
				<t>
				<%= link_to 'Edit', edit_user_path(user) , class: "btn btn-primary btn-sm" %>
				<br>
			<!-- if we are displaying canditate item to company-->
			<%elsif current_user.type_of_users == 2 %>
				<br>
				<div id ="follow_unfollow_buttons">
					<!-- if company following the user-->
					<% if current_user.following?(user) %>
						<%= render 'shared/unfollow', user: user %>
					<!-- if company not following the user-->
					<%else%>
						<%= render 'shared/follow', user: user %>
					<%end%>
				</div>
				<br>
			<%end%>
		<!-- We are displaying company item-->
		<%elsif user.type_of_users == 2 %>
			<%if current_user?(user) || isAdmin?(current_user) %>
				<br>
				<%if isAdmin?(current_user) && !current_user?(user) %>
					<br><%= link_to "Delete Company", user, method: :delete,
								data: { confirm: "You sure?" } , class: "btn btn-primary btn-sm" %><t>
				<%end%>
				<t>
				<%= link_to 'Edit', edit_user_path(user) , class: "btn btn-primary btn-sm" %>
				<br>
			<%elsif current_user.type_of_users == 1 %>
				<br>
				<div id ="follow_unfollow_buttons">
					<!-- if company following the user-->
					<% if current_user.following?(user) %>
						<%= render 'shared/unfollow', user: user %>
					<!-- if company not following the user-->
					<%else%>
						<%= render 'shared/follow', user: user %>
					<%end%>
				</div>
				<br>
			<%end%>
		<%end%>
	<%end%>
<%end%>