<li>
	<div class="row_for_job">
	
		<aside class="col-md-2">
 		<section class="job_info">

	    
	    	<%= link_to image_tag(job.avatar.url(:thumb),  :class => "img-responsive"), job %>
 		</section>
 
 		</aside>

	
		<div class="col-md-10">
		<section style="padding-left: 20px;">
		  	<%= link_to job.title, job_path(job) %>
		    <br>
			<%= job.valid_from %>
			<%= job.valid_to %>
		    <br>
			<%= job.user.name %>
			<%= job.description %>
		</section>
		</div>
		<br>
	    <%= render 'shared/interest_buttons',  job: job, is_job_element: true %>
	</div>
</li>