<p>
    <strong>Email:</strong>
    <%= @user.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <p>
      <strong>Post code:</strong>
      <%= @user.post_code %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= @user.contact %>
    </p>

    <p>
      <strong>Personal page:</strong>
      <%= @user.personal_page %>
    </p>

    <p>
      <strong>Birthday:</strong>
      <%= @user.birthday %>
    </p>

    <p>
      <strong>Id number:</strong>
      <%= @user.id_number %>
    </p>

    <p>
      <strong>Presentation:</strong>
      <%= @user.presentation %>
    </p>

    <p>
      <strong>Habits:</strong>
      <%= @user.habits %>
    </p>

    <p>
      <strong>Experience:</strong>
      <%= @user.experience %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @user.type_of_users %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= @user.active %>
    </p>