<li>
	
	<%= user.email %>
	<%= link_to user.name,user %>
	<%= user.type_of_users %>
	<%= user.active %>
	<%= link_to 'Show', user %>
	<%= render 'shared/interest_buttons', user: user, is_job_element: false  %>
 
</li>