<br>
<br>
<p>
  <%= @user.presentation %>
</p>

<p>
  <strong>Profession:</strong>
  <br>
  <%= @user.profession.area_name %>
</p>

<% if @user.type_of_users == 1 %>
  <p>
  <strong>Professional Situation:</strong>
  <br>
  <%  if @user.isworking %>
    Employed
  <% else %>
    Unemployed
  <% end %>
  </p>

  <p>
    <strong>Habits:</strong>
    <br>
    <%= @user.habits %>
  </p>

  <p>
    <strong>Professional Experience:</strong>
    <br>
    <%= @user.experience %>
  </p>
<% end%>

<p>
  <strong>Adress</strong>
  <br>
  <%= @user.address %>
  <br>
  <%= @user.post_code %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.contact %>
</p>

<p>
  <strong>Personal page:</strong>
  <%= @user.personal_page %>
</p>



