
<h1>Listing Companies</h1>
<div class= "container">
  <%= form_tag(companies_path, :method => "get", id: "search-form") do %>
   
    <%= text_field_tag :search, params[:search], placeholder: "Search Companies" , class: "form-control" %>  
    <br>
    <span class="label label-default">Select Profession area</span>
    <br>
    <%= select_tag "profession", ("<option></option>" + options_from_collection_for_select(professions, "id", "area_name", @prev_profession)).html_safe , class: "form-control" %>
    <br>
    <span class="label label-default">Select City </span>
    <br>
    <%= select_tag "city", ("<option></option>" + options_from_collection_for_select(cities, "id", "city_name", @prev_city)).html_safe , class: "form-control" %>
    <br>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    
  <% end %>  
</div>
<br>
<div class= "container">
  <% if @companies.present? %>
    <ul class="users">
      <%= render @companies %>
    </ul>
    
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>

<br>